*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
  line-height: 1.5;
  font-size: 0.875rem;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    /* align-items: start; */
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.book img {
  width: 30%;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  letter-spacing: 2px;
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.book p {
  margin: 1rem 0.05rem;
}

.form button {
  padding: 0.5rem 0.5rem;
  text-transform: capitalize;
  width: 100%;
  background: rgb(13, 35, 233);
  color: #f1f1f1;
  border: none;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  margin: 0.5rem 0;
}

.form button:hover {
  background: black;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35680;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
}
